// Modernizr
script(type='text/javascript', src='js/templates/modernizr.min.js')

// JavaScript (jQuery) libraries, plugins and custom scripts
script(type='text/javascript', src='js/templates/vendor.min.js')
script(type='text/javascript', src='js/templates/scripts.min.js')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-animate/angular-animate.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')
script(type='text/javascript', src='/lib/satellizer/dist/satellizer.min.js')
//- script(type='text/javascript', src='/js/FbSdk.js')
//- script(type='text/javascript', src='/lib/social/angular-fblogin.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/articles.js')
script(type='text/javascript', src='/js/services/authenticate.js')
script(type='text/javascript', src='/js/services/profile.js')
script(type='text/javascript', src='/js/services/countryService.js')
script(type='text/javascript', src='/js/services/product.js')
script(type='text/javascript', src='/js/services/travelService.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/articles.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/productDetailsController.js')
script(type='text/javascript', src='/js/controllers/travelController.js')
script(type='text/javascript', src='/js/controllers/productController.js')
script(type='text/javascript', src='/js/controllers/reviewController.js')
script(type='text/javascript', src='/js/controllers/uploadImage.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/users/auth.js')
script(type='text/javascript', src='/js/controllers/users/signIn.js')
script(type='text/javascript', src='/js/controllers/users/signUp.js')
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/controllers/users/userprofile.js')
script(type='text/javascript', src='/js/controllers/users/address.js')
script(type='text/javascript', src='/js/controllers/users/order.js')
script(type='text/javascript', src='/js/controllers/users/post.js')
script(type='text/javascript', src='/js/controllers/searchResult.js')
script(type='text/javascript', src='/js/controllers/searchCountry.js')
script(type='text/javascript', src='/js/controllers/postProductDetail.js')
script(type='text/javascript', src='/js/controllers/editProductDetail.js')
script(type='text/javascript', src='/js/controllers/users/userprofilemain.js')
script(type='text/javascript', src='/js/controllers/users/request.js')

//Application Directives
//- script(type='text/javascript', src='/js/directives/productShowcase.js')
//- script(type='text/javascript', src='/js/directives/uploadImage.js')
script(type='text/javascript', src='/js/directives/selectFile.js')
script(type='text/javascript', src='/js/directives/owlCarousel.js')

//Jquery
script(type='text/javascript', src='/lib/jquery/dist/jquery.js')

//Slick
//- script(type='text/javascript', src='/lib/slick-carousel/slick/slick.js')
//- script(type='text/javascript', src='/lib/angular-slick/dist/slick.js')

//Bootstrap 4.0
//- script(type='text/javascript', src='/lib/popper.js/dist/umd/popper.js')
//- script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')

//- script(type='text/javascript', src='/js/featherIcons.js')
//- script(type='text/javascript', src='https://unpkg.com/feather-icons/dist/feather.min.js')

//Owl Carousel
script(type='text/javascript', src='/lib/owl.carousel/dist/owl.carousel.js')

if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://localhost:35729/livereload.js')

//LightGallery
//- script(type='text/javascript', src='/lib/lightgallery/dist/js/lightgallery.min.js')

//Dropzone
script(type='text/javascript', src='/lib/dropzone/dist/dropzone.js')

//Select2
//- script(type='text/javascript', src='/lib/select2/dist/js/select2.js')

//Bootstrap-datepicker
script(type='text/javascript', src='/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js')

//Angucomplete
script(type='text/javascript', src='/lib/angucomplete/angucomplete-alt.js')

//- script(type='text/javascript', src='/lib/socket.io-client/dist/socket.io.js')

//chat
//- script(type='text/javascript', src='/js/controllers/chat.js')