<div class="containerUser padding-bottom-3x">
  <h3 class="text-center mb-30">
    <span>About Us</span>
  </h3>
  <div class="row about-us-section">
    <div class="col-md-5">
      <img src="img/About Us/01.jpg" />
    </div>
    <div class="col-md-7">
      <h2 class="about-us-header">
        <strong>Search, Select, Buy Online.</strong>
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In
        eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget
        quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis
        at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean dolor dolor, tristique nec placerat
        nec.
      </p>
    </div>
  </div>
  <hr>
  <div class="row about-us-section">
    <div class="col-md-7">
      <h2 class="about-us-header">
        <strong>Fast Delivery Worldwide.</strong>
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In
        eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget
        quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis
        at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean dolor dolor, tristique nec placerat
        nec.
      </p>
    </div>
    <div class="col-md-5">
      <img src="img/About Us/02.jpg" />
    </div>
  </div>
</div>