<div class="page-content">
  <h3 class="text-center mb-30">
    <span>About Us</span>
  </h3>
  <div class="row">
    <div class="col-md-5">
      <img src="http://themes.rokaux.com/unishop/v1.1/img/features/01.jpg"/>
    </div>
    <div class="col-md-7">
      <h4>Search, Select, Buy Online.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros.
        In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget
        quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at,
        pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean dolor dolor, tristique nec placerat nec.
      </p>
    </div>
  </div>
</div>
