<div class="containerUser padding-bottom-3x">
  <div class="row">
    <div class="col-md-7">
      <div class="display-3 text-muted opacity-75 mb-30">Customer Service</div>
    </div>
    <div class="col-md-5">
      <ul class="list-icon">
        <li> <i class="icon-mail"></i><a class="navi-link" href="mailto:customer.service@unishop.com">customer.service@unishop.com</a></li>
        <li> <i class="icon-bell"></i>+1(080) 44 357 260</li>
        <li> <i class="icon-clock"></i>1 - 2 business days</li>
      </ul>
    </div>
  </div>
</div>
