<div class="page-content">
  <h3 class="text-center mb-30">
		<span>Frequent Ask Questions</span>
	</h3>
  <div class="accordion " id="accordion1" role="tablist">
    <div class="card">
      <div class="card-header" role="tab">
        <h6>
          <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false" class="collapsed">
            What is your name?
          </a>
        </h6>
      </div>
      <div class="collapse" id="collapseOne" role="tabpanel" style="">
        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab">
        <h6>
          <a class="collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false">
          What is her name?
          </a>
        </h6>
      </div>
      <div class="collapse" id="collapseTwo" role="tabpanel" style="">
        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab">
        <h6>
          <a class="collapsed" href="#collapseThree" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false">
            What is his name?
          </a>
        </h6>
      </div>
      <div class="collapse" id="collapseThree" role="tabpanel" style="">
        <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
      </div>
    </div>
  </div>
</div>
