<!-- <div id="footer"> -->
    <div class="footer-container" data-ng-controller="HeaderController">
        <div class="column text-center">
            <p class="text-sm mb-4">Phone Call:
                <span class="text-primary">012-3456789</span>
            </p>
                <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                    <i class="socicon-facebook"></i>
                </a>
                <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                    <i class="socicon-twitter"></i>
                </a>
                <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                    <i class="socicon-instagram"></i>
                </a>
                <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google +">
                    <i class="socicon-googleplus"></i>
                </a>
            <p class="text-xxs text-muted mb-0 copyright">
                Shoppingu © 2017
            </p>
        </div>
        <div class="column text-center">
            <p>
                <a ui-sref="aboutus">About Us</a>
            </p>
            <p>
                <a ui-sref="faq">FAQ</a>
            </p>    
            <p>
                <a ui-sref="contactus">Contact Us</a>
            </p>   
        </div>
    </div>
<!-- </div> -->
