<header calss="navbar navbar-sticky navbar-stuck" ng-controller="HeaderController">

  <div id="mainSearchForm" ng-show='showSearchBar' ng-form="search()">
    <input type="text" name="site_search" ng-keypress="$event.keyCode === 13 && search()" placeholder="Type to search..." ng-model="inputSearch">
    <div>
      <span id="mainSearchClear" ng-click="inputSearch = null">Clear</span>
      <span id="mainSearchClose" ng-click="closeSearch()">
        <i class="icon-cross">
        </i>
      </span>
    </div>
  </div>

  <div style="position: absolute; top: 0; left: 0; height: 100%; z-index: 5;">
    <div style="display: table; height: 100%; min-height: 100%">
      <a class="site-logo" ui-sref="home" style="z-index: 99; position: relative;">
        <img src="img/shoppingu-logo.png" alt="Shoppingu">
      </a>
    </div>
  </div>

  <nav class="site-menu">
    <ul>
      <li>
        <a ui-sref="home">
          <span>Home</span>
        </a>
      </li>
      <li>
        <a ui-sref="aboutus">
          <span>About Us</span>
        </a>
      </li>
      <li>
        <a ui-sref="userprofile" ng-show="currentUser">
          <span>Account</span>
        </a>
      </li>
      <li>
        <a ui-sref="home">
          <span>Post</span>
        </a>
        <ul class="sub-menu toolbar-dropdown">
          <li>
            <a ui-sref="posttravel.travel({buyer: false})">
              <span>Traveller</span>
            </a>
          </li>
          <li>
            <a ui-sref="posttravel.travel({buyer: true})">
              <span>Buyer</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a ui-sref="signup" ng-show="!currentUser">
          <span>Sign Up</span>
        </a>
      </li>
      <li>
        <a ui-sref="signin" ng-show="!currentUser">
          <span>Sign In</span>
        </a>
      </li>
      <li class="active">
        <a ui-sref="contactus">
          <span>Contact Us</span>
        </a>
      </li>
      <li class="chat">
        <a ui-sref="chat">
          <span>Chat</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="headerSideToolbar">
    <div>
      <div>
        <div class="search" ng-click="openSearch()">
          <i class="icon-search"></i>
        </div>
        <div class="account" ng-show="currentUser">
          <a ui-sref="userprofile"></a>
          <i class="icon-head"></i>
          <ul>
            <li id="UserBoxDetail">
              <div class="user-ava" style="width: 44px;">
                <img src="img/Gary.jpg" alt="Daniel Adams" style="display: block;
                width: 44px;
                padding: 3px;
                border: 1px solid #e1e7ec;
                border-radius: 50%;">
              </div>
              <div style="padding-left: 8px;">
                <h6 class="user-name" style="margin-bottom: 2px; font-size: 14px;">{{ currentUser.LoginID }}</h6>
                <span class="text-xs text-muted" style="display: block;">290 Reward points</span>
              </div>
            </li>
            <li class="UserBoxList">
              <a ui-sref="userprofile">My Profile</a>
            </li>
            <li class="UserBoxList">
              <a ui-sref="order">Orders List</a>
            </li>
            <li class="UserBoxList">
              <a href="../account-wishlist.html">Wishlist</a>
            </li>
            <li class="UserBoxList" style="margin-top: 5px; margin-bottom: 3px; border-top: 1px solid #e1e7ec;"></li>
            <li class="UserBoxList">
              <a href="#" ng-click="SignOut()">
                <i class="icon-unlock" style="display: inline-block;
                margin-top: -2px;
                margin-right: 6px;
                font-size: .9em;
                vertical-align: middle;"></i>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>