<!-- <header calss="navbar navbar-sticky navbar-stuck" ng-controller="HeaderController">

  <div id="mainSearchForm" ng-show='showSearchBar' ng-form="search()">
    <input type="text" name="site_search" ng-keypress="$event.keyCode === 13 && search()" placeholder="Type to search..." ng-model="inputSearch">
    <div>
      <span id="mainSearchClear" ng-click="inputSearch = null">Clear</span>
      <span id="mainSearchClose" ng-click="closeSearch()">
        <i class="icon-cross">
        </i>
      </span>
    </div>
  </div>

  <div style="position: absolute; top: 0; left: 0; height: 100%; z-index: 5;">
    <div style="display: table; height: 100%; min-height: 100%">
      <a class="site-logo" ui-sref="home" style="z-index: 99; position: relative;">
        <img src="img/shoppingu-logo.png" alt="Shoppingu">
      </a>
    </div>
  </div>

  <nav class="site-menu">
    <ul>
      <li>
        <a ui-sref="home">
          <span>Home</span>
        </a>
      </li>
      <li>
        <a ui-sref="aboutus">
          <span>About Us</span>
        </a>
      </li>
      <li>
        <a ui-sref="userprofile" ng-show="currentUser">
          <span>Account</span>
        </a>
      </li>
      <li>
        <a ui-sref="home">
          <span>Post</span>
        </a>
        <ul class="sub-menu toolbar-dropdown">
          <li>
            <a ui-sref="posttravel.travel({buyer: false})">
              <span>Traveller</span>
            </a>
          </li>
          <li>
            <a ui-sref="posttravel.travel({buyer: true})">
              <span>Buyer</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a ui-sref="signup" ng-show="!currentUser">
          <span>Sign Up</span>
        </a>
      </li>
      <li>
        <a ui-sref="signin" ng-show="!currentUser">
          <span>Sign In</span>
        </a>
      </li>
      <li class="active">
        <a ui-sref="contactus">
          <span>Contact Us</span>
        </a>
      </li>
      <li class="chat">
        <a ui-sref="chat">
          <span>Chat</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="headerSideToolbar">
    <div>
      <div>
        <div class="search" ng-click="openSearch()">
          <i class="icon-search"></i>
        </div>
        <div class="account" ng-show="currentUser">
          <a ui-sref="userprofile"></a>
          <i class="icon-head"></i>
          <ul>
            <li id="UserBoxDetail">
              <div class="user-ava" style="width: 44px;">
                <img src="img/Gary.jpg" alt="Daniel Adams" style="display: block;
                width: 44px;
                padding: 3px;
                border: 1px solid #e1e7ec;
                border-radius: 50%;">
              </div>
              <div style="padding-left: 8px;">
                <h6 class="user-name" style="margin-bottom: 2px; font-size: 14px;">{{ currentUser.LoginID }}</h6>
                <span class="text-xs text-muted" style="display: block;">290 Reward points</span>
              </div>
            </li>
            <li class="UserBoxList">
              <a ui-sref="userprofile">My Profile</a>
            </li>
            <li class="UserBoxList">
              <a ui-sref="order">Orders List</a>
            </li>
            <li class="UserBoxList">
              <a href="../account-wishlist.html">Wishlist</a>
            </li>
            <li class="UserBoxList" style="margin-top: 5px; margin-bottom: 3px; border-top: 1px solid #e1e7ec;"></li>
            <li class="UserBoxList">
              <a href="#" ng-click="SignOut()">
                <i class="icon-unlock" style="display: inline-block;
                margin-top: -2px;
                margin-right: 6px;
                font-size: .9em;
                vertical-align: middle;"></i>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header> -->

<!-- Navbar-->
<header class="navbar navbar-sticky">
  <!-- Search-->
  <form class="site-search" method="get">
    <input type="text" name="site_search" placeholder="Type to search...">
    <div class="search-tools">
      <span class="clear-search">Clear</span>
      <span class="close-search">
        <i class="icon-cross"></i>
      </span>
    </div>
  </form>
  <div class="site-branding">
    <div class="inner">
      <!-- Site Logo-->
      <a class="site-logo" ui-sref="home">
        <img src="img/original/shoppingu-logo.png" alt="Shoppingu">
      </a>
    </div>
  </div>
  <!-- Main Navigation-->
  <nav class="site-menu">
    <ul>
      <li class="has-megamenu">
        <a href="#">
          <span>Category</span>
        </a>
        <ul class="mega-menu">
          <li>
            <span class="mega-menu-title">Top Categories</span>
            <ul class="sub-menu">
              <li>
                <a href="#">Men's Shoes</a>
              </li>
              <li>
                <a href="#">Women's Shoes</a>
              </li>
              <li>
                <a href="#">Shirts and Tops</a>
              </li>
              <li>
                <a href="#">Swimwear</a>
              </li>
              <li>
                <a href="#">Shorts and Pants</a>
              </li>
              <li>
                <a href="#">Accessories</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="mega-menu-title">Specialty Shops</span>
            <ul class="sub-menu">
              <li>
                <a href="#">Junior's Shop</a>
              </li>
              <li>
                <a href="#">Swim Shop</a>
              </li>
              <li>
                <a href="#">Athletic Shop</a>
              </li>
              <li>
                <a href="#">Outdoor Shop</a>
              </li>
              <li>
                <a href="#">Luxury Shop</a>
              </li>
              <li>
                <a href="#">Accessories Shop</a>
              </li>
            </ul>
          </li>
          <li>
            <section class="promo-box" style="background-image: url(img/banners/02.jpg);">
              <span class="overlay-dark" style="opacity: .4;"></span>
              <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                <h4 class="text-light text-thin text-shadow">New Collection of</h4>
                <h3 class="text-bold text-light text-shadow">Sunglasses</h3>
                <a class="btn btn-sm btn-primary" href="#">Shop Now</a>
              </div>
            </section>
          </li>
          <li>
            <section class="promo-box" style="background-image: url(img/banners/03.jpg);">
              <!-- Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.-->
              <span class="overlay-dark" style="opacity: .45;"></span>
              <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                <h3 class="text-bold text-light text-shadow">Limited Offer</h3>
                <h4 class="text-light text-thin text-shadow">save up to 50%!</h4>
                <a class="btn btn-sm btn-primary" href="#">Learn More</a>
              </div>
            </section>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <span>Post Request</span>
        </a>
      </li>
      <li>
        <a ui-sref="travel">
          <span>Post Travel</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>How it works</span>
        </a>
      </li>
      <li>
        <a href="login">
          <span>Login</span>
        </a>
      </li>
      <li>
        <a href="register">
          <span>Register</span>
        </a>
      </li>
      <li>
        <a ui-sref="userprofile">
          <span>Account</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- Toolbar-->
  <div class="toolbar">
    <div class="inner">
      <div class="tools">
        <div class="search">
          <i class="icon-search"></i>
        </div>
        <div class="account">
          <a href="account-orders.html"></a>
          <i class="icon-head"></i>
          <ul class="toolbar-dropdown">
            <li class="sub-menu-user">
              <div class="user-ava">
                <img src="img/account/user-ava-sm.jpg" alt="Daniel Adams">
              </div>
              <div class="user-info">
                <h6 class="user-name">Daniel Adams</h6>
                <span class="text-xs text-muted">290 Reward points</span>
              </div>
            </li>
            <li>
              <a href="account-profile.html">My Profile</a>
            </li>
            <li>
              <a href="account-orders.html">Orders List</a>
            </li>
            <li>
              <a href="account-wishlist.html">Wishlist</a>
            </li>
            <li class="sub-menu-separator"></li>
            <li>
              <a href="#">
                <i class="icon-unlock"></i>Logout</a>
            </li>
          </ul>
        </div>
        <div class="cart">
          <a href="cart.html"></a>
          <i class="icon-bag"></i>
          <span class="count">3</span>
          <span class="subtotal">$289.68</span>
          <div class="toolbar-dropdown">
            <div class="dropdown-product-item">
              <span class="dropdown-product-remove">
                <i class="icon-cross"></i>
              </span>
              <a class="dropdown-product-thumb" href="shop-single.html">
                <img src="img/cart-dropdown/01.jpg" alt="Product">
              </a>
              <div class="dropdown-product-info">
                <a class="dropdown-product-title" href="shop-single.html">Unionbay Park</a>
                <span class="dropdown-product-details">1 x $43.90</span>
              </div>
            </div>
            <div class="dropdown-product-item">
              <span class="dropdown-product-remove">
                <i class="icon-cross"></i>
              </span>
              <a class="dropdown-product-thumb" href="shop-single.html">
                <img src="img/cart-dropdown/02.jpg" alt="Product">
              </a>
              <div class="dropdown-product-info">
                <a class="dropdown-product-title" href="shop-single.html">Daily Fabric Cap</a>
                <span class="dropdown-product-details">2 x $24.89</span>
              </div>
            </div>
            <div class="dropdown-product-item">
              <span class="dropdown-product-remove">
                <i class="icon-cross"></i>
              </span>
              <a class="dropdown-product-thumb" href="shop-single.html">
                <img src="img/cart-dropdown/03.jpg" alt="Product">
              </a>
              <div class="dropdown-product-info">
                <a class="dropdown-product-title" href="shop-single.html">Haan Crossbody</a>
                <span class="dropdown-product-details">1 x $200.00</span>
              </div>
            </div>
            <div class="toolbar-dropdown-group">
              <div class="column">
                <span class="text-lg">Total:</span>
              </div>
              <div class="column text-right">
                <span class="text-lg text-medium">$289.68&nbsp;</span>
              </div>
            </div>
            <div class="toolbar-dropdown-group">
              <div class="column">
                <a class="btn btn-sm btn-block btn-secondary" href="cart.html">View Cart</a>
              </div>
              <div class="column">
                <a class="btn btn-sm btn-block btn-success" href="checkout-address.html">Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>