<div class="container-search padding-bottom-3x mb-1">
  <div class="row">
    <div class="col-xl-9 col-lg-8 order-lg-2">
      <div class="shop-toolbar padding-bottom-1x mb-2">
        <div class="column">
          <div class="shop-sorting">
            <label for="sorting">Sort by:</label>
            <select class="form-control" id="sorting">
              <option>Popularity</option>
              <option>Low - High Price</option>
              <option>High - Low Price</option>
            </select>
            <span class="text-muteed">Showing:</span>
            <span>1 item</span>
          </div>
        </div>
      </div>
      <!-- Product Grid -->
      <div class="isotope-grid cols-3 mb-2"  ng-init="searchResult()" style="position: relative; height: 1638.44px;">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <!-- Product -->
        <div class="grid-item" ng-repeat="item in product">
          <div class="product-card">
            <a class="product-thumb" href="">
              <img src="{{item.t_product_document.DocumentPath}}" alt="Product">
            </a>
            <h3 class="product-title">
              <a href="">{{item.ProductName}}</a>
            </h3>
            <h4 class="product-price">
              RM {{item.Amount}}
            </h4>
            <div class="product-buttons">
              <button class="btn btn-outline-primary btn-sm">Add to Cart</button>
            </div>
          </div>
        </div>
        
      </div>
      <!-- Pagination -->
      <nav class="pagination">
        <div class="column">
          <ul class="pages">
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Sidebar -->
    <div class="col-xl-3 col-lg-4 order-lg-1">
      <aside class="sidebar">
        <div class="padding-top-2x hidden-lg-up"></div>
        <!-- Widget Categories -->
        <section class="widget widget-categories">
          <h3 class="widget-title">Shop Categories</h3>
          <ul>
            <li class="has-children expanded">
              <a href="#">Shoes</a>
              <span>(122)</span>
              <ul>
                <li>
                  <a href="#">Women's</a>
                  <ul>
                    <li>
                      <a href="#">Sneakers</a>
                    </li>
                    <li>
                      <a href="#">Heels</a>
                    </li>
                    <li>
                      <a href="#">Loafers</a>
                    </li>
                    <li>
                      <a href="#">Sandals</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Men's</a>
                  <span>(102)</span>
                  <ul>
                    <li>
                      <a href="#">Boots</a>
                    </li>
                    <li>
                      <a href="#">Oxfords</a>
                    </li>
                    <li>
                      <a href="#">Loafers</a>
                    </li>
                    <li>
                      <a href="#">Sandals</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Boy's Shoes</a>
                  <span>(102)</span>
                </li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#">Clothing</a>
              <span>(122)</span>
              <ul>
                <li>
                  <a href="#">Women's</a>
                  <ul>
                    <li>
                      <a href="#">Dresses</a>
                    </li>
                    <li>
                      <a href="#">Shirts & Tops</a>
                    </li>
                    <li>
                      <a href="#">Swimwear</a>
                    </li>
                    <li>
                      <a href="#">Shorts</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Men's</a>
                  <span>(102)</span>
                  <ul>
                    <li>
                      <a href="#">Shirts & Tops</a>
                    </li>
                    <li>
                      <a href="#">Shorts</a>
                    </li>
                    <li>
                      <a href="#">Swimwear</a>
                    </li>
                    <li>
                      <a href="#">Pants</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Kid's Clothing</a>
                  <span>(102)</span>
                </li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#">Bags</a>
              <span>(122)</span>
              <ul>
                <li>
                  <a href="#">Handbag</a>
                </li>
                <li>
                  <a href="#">Backpacks</a>
                  <span>(2)</span>
                </li>
                <li>
                  <a href="#">Wallet & Accessories</a>
                  <span>(12)</span>
                </li>
                <li>
                  <a href="#">Luggage</a>
                  <span>(10)</span>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </aside>
    </div>
  </div>
</div>
