<div class="container-search padding-bottom-3x mb-1">
  <div class="row">
    <div class="col-xl-9 col-lg-8 order-lg-2">
      <div class="shop-toolbar padding-bottom-1x mb-2">
        <div class="column">
          <div class="shop-sorting">
            <label for="sorting">Sort by:</label>
            <select class="form-control" id="sorting">
              <option>Popularity</option>
              <option>Low - High Price</option>
              <option>High - Low Price</option>
            </select>
            <span class="text-muteed">Showing:</span>
            <span>1 item</span>
          </div>
        </div>
      </div>
      <!-- Product Grid -->
      <div class="isotope-grid cols-3 mb-2" style="position: relative; height: 1638.44px;">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <!-- Product -->
        <div class="grid-item" ng-repeat="item in product">
          <div class="product-card">
            <a class="product-thumb" href="">
              <img src="{{item.t_product_document.DocumentPath}}" alt="Product">
            </a>
            <h3 class="product-title">
              <a href="">{{item.ProductName}}</a>
            </h3>
            <h4 class="product-price">
              RM {{item.Amount}}
            </h4>
            <div class="product-buttons">
              <button class="btn btn-outline-primary btn-sm">Add to Cart</button>
            </div>
          </div>
        </div>
        
      </div>
      <!-- Pagination -->
      <nav class="pagination">
        <div class="column">
          <ul class="pages">
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Sidebar -->
    <div class="col-xl-3 col-lg-4 order-lg-1" ng-init="menuTree()">
      <aside class="sidebar">
        <div class="padding-top-2x hidden-lg-up"></div>
        <!-- Widget Categories -->
        <section class="widget widget-categories">
          <h3 class="widget-title">Shop Categories</h3>
          <ul>
            <li id="{{item.ProductCatID}}" class="has-children" ng-repeat="item in menuTreeResult">
              <a href="#" ng-click="openFirst($index)">{{item.ProductCatDesc}}</a>
              <!-- <span>(122)</span> -->
              <ul>
                <li ng-repeat="subItem in item.t_product_subcats">
                  <a href="#" ng-click="getProductDetail($index)">{{subItem.ProductSubCatDesc}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </aside>
    </div>
  </div>
</div>
