
<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
    <!-- Page Title-->
    <!-- <div class="page-title">
        <div class="container">
            <div class="column">
                <h1>Contact / Shipping Address</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>
                        <a href="account-orders.html">Account</a>
                    </li>
                    <li class="separator">&nbsp;</li>
                    <li>Contact Address</li>
                </ul>
            </div>
        </div>
    </div> -->
    <!-- Page Content-->
    <div class="container padding-top-2x padding-bottom-3x mb-1">
        <div class="row">
            <div class="col-lg-4">
                <aside class="user-info-wrapper">
                    <div class="user-cover" style="background-image: url(img/account/user-cover-img.jpg);">
                        <!-- <div class="info-label" data-toggle="tooltip" title="You currently have 290 Reward Points to spend">
                            <i class="icon-medal"></i>290 points
                        </div> -->
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <!-- <a class="edit-avatar" href="#"></a> -->
                            <img src="img/account/user-ava.jpg" alt="User">
                        </div>
                        <div class="user-data">
                            <h4>{{profile.lastName}} {{profile.firstName}}</h4>
                            <span>Joined {{profile.created_date | date: "MMMM dd, yyyy"}}</span>
                        </div>
                    </div>
                </aside>
                <nav class="list-group">
                    <a class="list-group-item with-badge" ng-click="goToMyOrder()">
                        <i class="icon-bag"></i>My Orders
                        <!-- <span class="badge badge-primary badge-pill">6</span> -->
                    </a>
                    <a class="list-group-item" ng-click="goToMyProfile()">
                        <i class="icon-head"></i>Profile</a>
                    <a class="list-group-item active" ui-sref="address">
                        <i class="icon-map"></i>Addresses</a>
                    <!-- <a class="list-group-item with-badge" href="account-wishlist.html">
                        <i class="icon-heart"></i>Wishlist
                        <span class="badge badge-primary badge-pill">3</span>
                    </a> -->
                    <a class="list-group-item with-badge" ng-click="goToMyRequest()">
                        <i class="icon-tag"></i>My Requests
                        <!-- <span class="badge badge-primary badge-pill">4</span> -->
                    </a> 
                    <a class="list-group-item" ng-click="goToMyPost()">
                        <i class="icon-bag"></i>My Trips
                    </a>
                </nav>
            </div>
            <div class="col-lg-8">
                <div class="padding-top-2x mt-2 hidden-lg-up"></div>
                <h4>Contact Address</h4>
                <hr class="padding-bottom-1x">
                <form class="row" ng-init="initAddress()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-company">Company</label>
                            <input class="form-control" type="text" id="account-company" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-country">Country</label>
                            <select class="form-control" id="account-country">
                                <option>Choose country</option>
                                <option>Australia</option>
                                <option>Canada</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-city">City</label>
                            <select class="form-control" id="account-city">
                                <option>Choose city</option>
                                <option>Amsterdam</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-zip">ZIP Code</label>
                            <input class="form-control" type="text" id="account-zip" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-address1">Address 1</label>
                            <input class="form-control" type="text" id="account-address1" ng-model="profile.address" value="{{profile.address}}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-address2">Address 2</label>
                            <input class="form-control" type="text" id="account-address2">
                        </div>
                    </div>
                    <div class="col-12 padding-top-1x">
                        <!-- <h4>Shipping Address</h4>
                        <hr class="padding-bottom-1x">
                        <div class="custom-control custom-checkbox d-block">
                            <input class="custom-control-input" type="checkbox" id="same_address" checked>
                            <label class="custom-control-label" for="same_address">Same as Contact Address</label>
                        </div> -->
                        <hr class="margin-top-1x margin-bottom-1x">
                        <div class="text-right">
                            <button class="btn btn-primary margin-bottom-none" type="button" data-toast data-toast-position="topRight" data-toast-type="success"
                                data-toast-icon="icon-circle-check" data-toast-title="Success!" data-toast-message="Your address updated successfuly." ng-click="updateAddress()">Update Address</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
       
