

<div class="containerUser padding-bottom-3x mb-2" data-ng-controller="AddressController">
    <div class="row">
            <div ng-include="'../views/users/userprofilemain.html'" class="col-lg-4"></div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up">
            </div>
            <h4>Contact Address</h4>
            <hr class="padding-bottom-1x">
            <form class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-fn">Address 1</label> 
                        <input class="form-control" type="text" id="account-fn" value="" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-ln">Address 2</label> 
                        <input class="form-control" type="text" id="account-ln" value="" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-ln">City</label> 
                        <select class="form-control" id="account-ln">
                            <option>Kuala Lumpur</option>
                            <option>Selangor</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-ln">ZIP Code</label> 
                        <input class="form-control" type="text" id="account-ln" value="" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-ln">Country</label> 
                        <select class="form-control" id="account-ln">
                            <option>Malaysia</option>
                            <option>Thailand</option>
                            <option>Singapore</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <label class="custom-control custom-checkbox d-block"></label>
                        <button class="btn btn-primary margin-right-none" type="button" data-toast data-toast-postion="topRight">
                            Update Address
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

