<script src="/socket.io/socket.io.js"></script>

<div class="container padding-top-2x padding-bottom-3x mb-2" ng-controller="signIn">
    <div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x" role="alert" ng-show="response === false">
        Invalid username or password.
    </div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=219745928654021&autoLogAppEvents=1"></script>
    <!-- <script id="facebook-jssdk" async="" src="//connect.facebook.net/en_US/sdk.js"></script> -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="login-box" ng-submit="signIn(user)">
                <h4 class="margin-bottom-1x">Login</h4>
                <button class="loginBtn loginBtn--facebook" ng-click="fbAuth();">
                    Login with Facebook
                </button>
                <!-- <div class="fb-login-button" style="margin-bottom: 15px;" data-size="large" data-button-type="continue_with"
                    ng-click="fbAuth()" data-auto-logout-link="false" data-use-continue-as="false"> -->

                <!-- </div>
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                </fb:login-button> -->

                <div class="form-group input-group">
                    <input class="form-control" type="username" placeholder="Username or Email" ng-model="user.username" required>
                    <span class="input-group-addon">
                        <i class="icon-head"></i>
                    </span>
                </div>
                <div class="form-group input-group">
                    <input class="form-control" type="password" placeholder="Password" ng-model="user.password" required>
                    <span class="input-group-addon">
                        <i class="icon-lock"></i>
                    </span>
                </div>
                <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
                    <a class="navi-link" ui-sref="forgetpassword">Forgot password?</a>
                </div>
                <div class="text-center text-sm-right">
                    <button class="btn btn-primary margin-bottom-none" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div> 
</div>