
<div class="containerUser padding-bottom-3x mb-2" data-ng-controller="OrderController" ng-init="openProductDetail()">
    <div class="row" ng-controller="UserProfileMainController">
        <div ng-include="'../views/users/userprofilemain.html'" class="col-lg-4"></div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="table-responsive">
                <table class="table table-hover margin-right-none">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Date Purchased</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in order">
                            <td>
                                <a class="text-medium" href="#" data-toggle="modal" data-target="#myModal" data-myamount="{{item.Amount}}" ng-click="triggerClick($event)">1234567</a>
                            </td>
                            <td>{{item.CreatedDate | date:'MM/dd/yyyy'}}</td>
                            <td>
                                <span class="text-info">In Progress</span>
                            </td>
                            <td>
                                <span class="text-medium">RM {{item.Amount}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <edit-person-dialog ng-model="editDialog"></edit-person-dialog>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="containerUser modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Order No - 1234567</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive shopping-cart mb-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="#">
                                        <img src="img/nmd.jpg">
                                    </a>
                                    <div class="product-info">
                                        <h4 class="product-title">
                                            <a href="#">
                                                NMD2 Adidas
                                            </a>
                                        </h4>
  
                                    </div>
  
                                </div>
                            </td>
                            <td class="text-lg text-medium">RM {{Amount1}}<span id="modal-myamount"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="mb-3">
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-2">
              <!-- <div class="px-2 py-1">Subtotal: <span class='text-medium'>$289.68</span></div>
              <div class="px-2 py-1">Shipping: <span class='text-medium'>$22.50</span></div>
              <div class="px-2 py-1">Tax: <span class='text-medium'>$3.42</span></div> -->
              <div class="text-lg px-2 py-1">Total: <span class='text-medium'>RM300.00</span></div>
            </div>
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
  </div>
  
  