

<div class="containerUser padding-bottom-3x mb-2" data-ng-controller="PostController" ng-init="getTrip()">
    <div class="row" ng-controller="UserProfileMainController">
        <div ng-include="'../views/users/userprofilemain.html'" class="col-lg-4"></div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="table-responsive">
                <table class="table table-hover margin-right-none">
                    <thead>
                        <tr>
                            <th>Trip</th>
                            <th>Trip Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="trposts" ng-repeat="item in travel" ng-click="getProductId(item.TravelID)" >
                            <td>
                                <a class="text-medium">{{item.t_country.CountryName}}</a>
                            </td>
                            <td>{{item.TravelStartDate | date:'MM/dd/yyyy'}}</td>
                            <td>Expired</td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

