

<div class="containerUser padding-bottom-3x mb-2" data-ng-controller="OrderController">
    <div class="row">
        <div ng-include="'../views/users/userprofilemain.html'" class="col-lg-4"></div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="table-responsive">
                <table class="table table-hover margin-right-none">
                    <thead>
                        <tr>
                            <th>Trip</th>
                            <th>Trip Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="text-medium">BKK (Bangkok, Thailand) - KUL (Kuala Lumpur, Malaysia)</span>
                            </td>
                            <td>August 08, 2017</td>

                        </tr>
                        <tr>
                            <td>
                                <span class="text-medium">SIN (Singapore, Singapore) - KUL (Kuala Lumpur, Malaysia)</span>
                            </td>
                            <td>November 08, 2017</td>

                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

