<div class="container padding-top-2x padding-bottom-3x mb-2" ng-controller="signUp">
    <div class="row justify-content-center">     
        <div class="col-md-6">
            <div class="padding-top-3x hidden-md-up"></div>
            <h3 class="margin-bottom-1x">No Account? Register</h3>
            <p>Registration takes less than a minute but gives you full control over your orders.</p>
            <div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x" role="alert" ng-show="errorMsg">
                {{errorMsg}}
            </div>
            <form name="registerForm" class="row" ng-submit="signUp()" novalidate>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text" name="firstName" ng-model="firstName" ng-maxlength="30" autocomplete="off" required>
                        <div class="error-text-color" ng-messages="registerForm.firstName.$error" ng-if="registerForm.firstName.$dirty">
                            <span ng-message="maxlength">First name is too long.</span>
                            <span ng-message="required">First name is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text" name="lastName" ng-model="lastName" ng-maxlength="30" autocomplete="off" required>
                        <div class="error-text-color" ng-messages="registerForm.lastName.$error" ng-if="registerForm.lastName.$dirty">
                            <span ng-message="maxlength">Last name is too long.</span>
                            <span ng-message="required">Last name is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input class="form-control" type="email" name="email" ng-model="email" autocomplete="off" required>
                        <div class="error-text-color" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$dirty">
                            <span ng-message="email">Invalid email address.</span>
                            <span ng-message="required">Email address is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input class="form-control" type="text" name="phoneNumber" ng-model="phoneNumber" autocomplete="off" required>
                        <div class="error-text-color" ng-messages="registerForm.phoneNumber.$error" ng-if="registerForm.phoneNumber.$dirty">
                            <span ng-message="required">Phone number is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" name="userName" ng-model="userName" autocomplete="off" ng-maxlength="10" required>
                        <div class="error-text-color" ng-messages="registerForm.userName.$error" ng-if="registerForm.userName.$dirty">
                            <span ng-message="maxlength">Username is too long.</span>
                            <span ng-message="required">Username is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" ng-model="password" autocomplete="off" ng-maxlength="15" required>
                        <div class="error-text-color" ng-messages="registerForm.password.$error" ng-if="registerForm.password.$dirty">
                            <span ng-message="maxlength">Password is too long.</span>
                            <span ng-message="required">Password is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input class="form-control" type="password" name="confirmPassword" ng-model="confirmPassword" autocomplete="off" ng-maxlength="15" required>
                        <div class="error-text-color" ng-messages="registerForm.confirmPassword.$error" ng-if="registerForm.confirmPassword.$dirty">
                            <span ng-message="maxlength">Confirm password is too long.</span>
                            <span ng-message="required">Confirm password is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center text-sm-right">
                    <button class="btn btn-primary margin-bottom-none" type="submit" ng-disabled="registerForm.$invalid">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Thanks for signing up!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>