
<div>
    <aside class="user-info-wrapper">
        <div class="user-cover" style="background-image: url(img/nmd.jpg);">
            <div class=".info-label">
            </div>
        </div>
        <div class="user-info">
            <div class="user-avatar">
                <img src="img/Gary.jpg" alt="User">
            </div>
            <div class="user-data">
                <h4>Gary Kang</h4>
                <span>Joined February 01, 2017</span>
            </div>
        </div>
    </aside>
    <nav class="list-group">
        <a class="list-group-item" ui-sref="userprofile">
            <i class="icon-head"></i>
            Profile
        </a>
        <a class="list-group-item" ui-sref="address">
            <i class="icon-map"></i>
            Addresses
        </a>
        <a class="list-group-item" ui-sref="order">
            <i class="icon-bag"></i>
            Orders
        </a>
        <a class="list-group-item" ui-sref="post">
            <i class="icon-bag"></i>
            Posts
        </a>
    </nav>
</div>
