

<div class="containerUser padding-bottom-3x mb-2" data-ng-controller="UserProfileController" data-ng-init="findOne()">
    <div class="row">
            <div ng-include="'../views/users/userprofilemain.html'" class="col-lg-4"></div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up">
            </div>
            <form class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-fn">First Name</label>
                        <input class="form-control" type="text" id="account-fn" value="{{firstName}}" required>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-ln">Last Name</label>
                        <input class="form-control" type="text" id="account-ln" value="{{lastName}}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-ln">Email Address</label>
                        <input class="form-control" type="text" id="account-ln" value="abc" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-ln">Phone Number</label>
                        <input class="form-control" type="text" id="account-ln" value="abc" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-ln">Gender</label>
                        <div>
                            <label class="custom-control custom-radio">
                                <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Male</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Female</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <label class="custom-control custom-checkbox d-block"></label>
                        <button class="btn btn-secondary margin-right-none" type="button" data-toast data-toast-postion="topRight" ng-click="update()">
                            Update Profile
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
