
<div>
    <aside class="user-info-wrapper">
        <div class="user-cover" style="background-image: url(img/nmd.jpg);">
            <div class=".info-label">
            </div>
        </div>
        <div class="user-info">
            <div class="user-avatar">
                <label for="file-upload" class="edit-avatar"></label>
                <input id="file-upload" class="edit-avatar" type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
                <img src="{{imageSrc}}" alt="User" ng-if="imageSrc != null">
                <img src="img/Gary.jpg" alt="User" ng-if="imageSrc == null">
                <!-- <img src="img/Gary.jpg" alt="User"> -->
            </div>
            <div class="user-data">
                <h4>Gary Kang</h4>
                <span>Joined February 01, 2017</span>
            </div>
        </div>
    </aside>
    <nav class="list-group">
        <a id="{{item.accId}}" class="list-group-item" ui-sref="{{item.accLink}}" ng-click="selectedMenu($index)" ng-repeat="item in accountMenu">
            <i class="{{item.accIcon}}"></i>
            {{item.accName}}
        </a>
    </nav>
</div>
