/*.navbar .nav>li>a.brand {
	padding-left: 20px;
	margin-left: 0
}*/

.navbar{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 84px;
	border-bottom: 1px solid #e1e7ec;
	background-color: #fff;
	z-index: 9000;
}

.navbar-stuck{
	position: fixed;
	box-shadow: 0 3px 25px 0 rgba(47, 56, 68, 0.22);
	z-index: 9010;
}

.container {
	width: 100%;
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.main-slider{
		/*height: 350px;*/
}

.page-content{
	margin: 50px;
}

#myCarousel .list-inline {
		white-space:nowrap;
		overflow-x:auto;
}

#myCarousel .carousel-indicators {
		position: static;
		left: initial;
		width: initial;
		margin-left: initial;
}

#myCarousel .carousel-indicators > li {
		width: initial;
		height: initial;
		text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
		opacity: 0.7;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background: #ddd;
	-webkit-box-shadow: 0 8px 6px 6px black;
	-moz-box-shadow: 0 8px 6px 6px black;
	box-shadow: 0 8px 6px 6px black
}

footer p {
	padding: 5px 0 12px 10px
}

.footer {
	position: absolute;
	right: 0;
	bottom: 10;
	left: 0;
	background-color: #FFFFFF;
	text-align: left;
	width: 100%;
	height: 100px;
}

.footer-container {
	display: table;
	margin: 0 auto;
}

#footer ul {
	display: inline-block;
	vertical-align: top;
	min-width: 150px;
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

#footer {
	position: relative;
	background: #fff;
	padding: 30px 0 10px;
	border-top: 1px solid #e6e6e6;
}

#footer li {
	margin-bottom: 1rem;
}

.copyright {
	margin-top: 20px;
	position: static;
}

#footer .logo {
	font-size: 1.2em;
	display: inline-block;
	margin-right: 5px;
}

.text-center{
	text-align: center !important
}

.text-left{
	text-align: left !important
}

.text-right{
	text-align: right !important
}

.mb-30{
	margin-bottom: 30px !important;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	align-items: center !important;
}

.col-md-7{
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.col-md-5{
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.col-md-5 img{
	width: 270px !important;
	margin: auto !important;
	display: block !important;
}

.display-3{
	font-size: 50px;
}

.text-muted{
	color: #9da9b9 !important;
}

.opacity-75{
	opacity: .75 !important;
}

.list-icon{
	padding: 0;
	list-style: none;
}

.list-icon>li{
	position: relative;
	margin-bottom: 6px;
	padding-left: 22px;
}

.list-icon>li>i{
	display: block;
	position: absolute;
	left: 0;
	line-height: inherit;
}

.navi-link{
	transition: color .3s;
	color: #606975;
	text-decoration: none;
}

.slick-slider{
	width: 75% !important;
	margin: auto !important;
}

.site-menu{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1;
}

.site-menu>ul{
	display: table;
	height: 100%;
	min-height: 100%
}

.site-menu ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.site-menu>ul>li{
	display: table-cell;
	position: relative;
	vertical-align: middle;
}

.site-menu>ul>li>a{
	display: table;
	height: 100%;
	min-height: 100%;
	border-top: 1px solid transparent;
	letter-spacing: .05em;
	text-transform: uppercase;
}

.site-menu ul>li>a{
	padding: 0 15px;
	transition: color .3s;
	color: #606975;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}

.site-menu>ul>li>a>span{
	display: table-cell;
	vertical-align: middle;
}

.site-menu ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.sub-menu{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	margin-top: -7px !important;
	padding: 10px 0 !important;
	border: 1px solid #e1e7ec;
	border-radius: 5px;
	background-color: #fff;
	line-height: 1.5;
	box-shadow: 0 7px 22px -5px rgba(47, 56, 68, 0.2);
}

.sub-menu>li{
	display: block;
	position: relative;
}
/* Login page */

body {
	margin: 0;
	color: #6a6f8c;
	font-family: 'Mandali', sans-serif;
}

*,
:after,
:before {
	box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table
}

.clearfix:after {
	clear: both;
	display: block
}

a {
	color: inherit;
	text-decoration: none
}

.login-wrap {
	width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 670px;
	position: relative;
	background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 90px 70px 50px 70px;
	background: rgba(40, 57, 101, .9);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
	display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
	text-transform: uppercase;
}

.login-html .tab {
	font-size: 22px;
	margin-right: 15px;
	padding-bottom: 5px;
	margin: 0 15px 10px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
	color: #fff;
	border-color: #1161ee;
}

.login-form {
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.login-form .group {
	margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
	width: 100%;
	color: #fff;
	display: block;
}

.login-form .group .input,
.login-form .group .button {
	border: none;
	padding: 15px 20px;
	border-radius: 25px;
	background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
	text-security: circle;
	-webkit-text-security: circle;
}

.login-form .group .label {
	color: #aaa;
	font-size: 12px;
}

.login-form .group .button {
	background: #1161ee;
}

.login-form .group label .icon {
	width: 15px;
	height: 15px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
	content: '';
	width: 10px;
	height: 2px;
	background: #fff;
	position: absolute;
	transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
	left: 3px;
	width: 5px;
	bottom: 6px;
	transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
	top: 6px;
	right: 0;
	transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
	color: #fff;
}

.login-form .group .check:checked+label .icon {
	background: #1161ee;
}

.login-form .group .check:checked+label .icon:before {
	transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
	transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
	transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
	transform: rotate(0);
}

.hr {
	height: 2px;
	margin: 60px 0 50px 0;
	background: rgba(255, 255, 255, .2);
}

.foot-lnk {
	text-align: center;
}

/* User profile page start */

.padding-bottom-3x {
    padding-bottom: 72px !important;
}

.mb-2 {
    margin-bottom: 0.5rem!important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.user-info-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    padding-top: 90px;
    padding-bottom: 30px;
    border: 1px solid #e1e7ec;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden;
}

.user-info-wrapper .user-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-position: center;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-info-wrapper .info-label {
    display: block;
    position: absolute;
    top: 18px;
    right: 18px;
    height: 26px;
    padding: 0 12px;
    border-radius: 13px;
    background-color: #fff;
    color: #606975;
    font-size: 12px;
    line-height: 26px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.18);
    cursor: pointer;
}

.user-info-wrapper .user-info {
    display: table;
    position: relative;
    width: 100%;
    padding: 0 18px;
    z-index: 5;
}

.user-info-wrapper .user-info .user-avatar {
    position: relative;
    width: 115px;
}

.user-info-wrapper .user-info .user-avatar, .user-info-wrapper .user-info .user-data {
    display: table-cell;
    vertical-align: top;
}

.user-info-wrapper .user-info .user-avatar .edit-avatar {
    display: block;
    position: absolute;
    top: -2px;
    right: 2px;
    width: 36px;
    height: 36px;
    transition: opacity .3s;
    border-radius: 50%;
    background-color: #fff;
    color: #606975;
    line-height: 34px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    opacity: 0;
    text-align: center;
    text-decoration: none;
}

img, figure {
    max-width: 100%;
    height: auto;
	vertical-align: middle;
	border: 3px solid #fff;
}

.user-info-wrapper .user-info .user-data {
    padding-top: 48px;
    padding-left: 12px;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.hidden-lg-up {
    display: none !important;
}

.padding-top-2x {
    padding-top: 48px !important;
}

.mt-2 {
    margin-top: 0.5rem!important;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
	max-width: 50%;

	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control:not(textarea) {
	height: 44px;

	padding: 0 18px 3px;
    border: 1px solid #dbe2e8;
    border-radius: 22px;
    background-color: #fff;
    color: #606975;
    font-family: "Maven Pro",Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	display: block;
    width: 100%;
}

.form-group label {
    margin-bottom: 8px;
    padding-left: 18px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

hr {
    margin: 0;
    border: 0;
	border-top: 1px solid #e1e7ec;
	margin-left: -2px;
}

.mt-2 {
    margin-top: 0.5rem!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.custom-control {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
	margin-right: 1rem;

	margin-bottom: 5px !important;
    padding-left: 1.5rem !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

.d-block {
    display: block!important;
}

.margin-right-none {
    margin-right: 0 !important;
}

.btn {
    display: inline-block;
    position: relative;
    height: 44px;
    margin-top: 8px;
    margin-right: 12px;
    margin-bottom: 8px;
    padding: 0 22px;
    transform: translateZ(0);
    transition: all .4s;
    border: 1px solid transparent;
    border-radius: 22px;
    background-color: transparent;
    background-image: none;
    color: #606975;
    font-family: "Maven Pro",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .07em;
    line-height: 42px;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
    background-color: #0da9ef;
}

.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    color: #fff;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.user-info-wrapper+.list-group .list-group-item:first-child {
    border-radius: 0;
}

a.list-group-item {
    padding-top: .87rem;
    padding-bottom: .87rem;
}

a.list-group-item, .list-group-item-action {
    transition: all .25s;
    color: #606975;
    font-weight: 500;
}

.list-group-item {
    border-color: #e1e7ec;
    background-color: #fff;
	text-decoration: none;

	display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item.active {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff;
    cursor: default;
    pointer-events: none;
}

.containerUser{
	width:95%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	width: 1000px;
	margin-top:50px;

  }

/* User profile page end */

/* User profile address page start */
.hidden-lg-up {
    display: none !important;
}

.padding-top-2x {
    padding-top: 48px !important;
}

.mt-2 {
    margin-top: 0.5rem!important;
}

h4, .h4 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    color: #374250;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    text-transform: none;
}

.padding-bottom-1x {
    padding-bottom: 24px !important;
}

select.form-control:not([size]):not([multiple]) {
    height: 44px;
}

select.form-control {
    padding-right: 38px;
    background-position: center right 17px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNv…9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K);
    background-repeat: no-repeat;
	background-size: 9px 9px;
}

.form-control {
    padding: 0 18px 3px;
    border: 1px solid #dbe2e8;
    border-radius: 22px;
    background-color: #fff;
    color: #606975;
    font-family: "Maven Pro",Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;

	display: block;
	width: 100%;

	line-height: 1.25;
	background-clip: padding-box;
	transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}



/* User profile address page end */
