.margin-bottom-1x {
    margin-bottom: 24px !important;
}

.btn{
	display: inline-block;
	position: relative;
	height: 44px;
	margin-top: 8px;
	margin-right: 12px;
	margin-bottom: 8px;
	padding: 0 22px;
	transform: translateZ(0);
	transition: all .4s;
	border: 1px solid transparent;
	background-color: transparent;
	background-image: none;
	color: #ffffff;
	font-family: "Maven Pro", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: .07em;
	line-height: 42px;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

.btn-outline-primary{
	border-color: #606975 !important;
	background-color: transparent;
	color: #606975;
}

.btn-secondary{
  	background-color: #0DA99F;
  	border-color: #0DA99F;
}

.btn-danger{
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-secondary:hover{
	background-color: #0DA99F;
	border-color: #0DA99F;
}

.btn-form{
	background-color: #FF7043 !important;
	border-color: #FF7043 !important;
}

.btn-sm{
	height: 36px;
	padding: 0 18px;
	font-size: 12px;
	line-height: 34px;
}

.card{
  border-radius: 7px;
  border-color: #e1e7ec;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
}

.card-img-top{
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  height: auto;
  vertical-align: middle;
  border: none !important;
}

.card-header{
	background-color: #f5f5f5;
	border-bottom-color: #e1e7ec;
}

.card-header:first-child{
	border-radius: 7px 7px 0 0
}

.card-body{
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title{
  margin-bottom: .75rem;
}

.accordion [data-toggle='collapse']{
	display: block;
	position: relative;
	color: #606975;
	text-decoration: none;
}

.accordion [data-toggle='collapse']::after{
	position: absolute;
	top: 50%;
	right: 0;
	width: 0;
	height: 0;
	margin-top: -2px;
	-webkit-transition: -webkit-transform .25s;
	transition: transform .25s;
	border-right: 5px solid transparent;
	border-bottom: 5px dashed;
	border-left: 5px solid transparent;
	content: '';
}

.accordion [data-toggle='collapse'].collapsed::after{
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.input-group-box {
    display: block;
    position: relative;
}

.input-group-box .form-control {
    padding-left: 35px;
}

.input-group-box .input-group-box-addon {
    left: 15px;
    transition: color .3s;
    background-color: transparent !important;
    color: #9da9b9;
}

.input-group-box .input-group-box-addon, .input-group-box .input-group-box-btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-primary {
    background-color: #0da9ef;
}

.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-right: 0 !important;
    margin-bottom: 12px;
    margin-left: 0 !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.facebook-btn {
    border-color: #3b5998;
    background-color: transparent;
    color: #3b5998;
}

.facebook-btn, .twitter-btn, .google-btn {
    text-transform: none;
}

.facebook-btn>i, .twitter-btn>i, .google-btn>i {
    margin-top: 0;
}

.facebook-btn:hover {
    background-color: #3b5998;
    color: #fff;
}

.btn>i {
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
}

.forget-password-header {
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
}