.checkout-steps>a {
    width: 33% !important;
}

/* profile upload button disabled start */
.user-info-wrapper .user-info .user-avatar input[type=file] {
    display: none;
}

.user-info-wrapper .user-info .user-avatar input[type=file]+label {
    display: inline-block;
    margin: 20px;
    padding: 4px 32px;
    background-color: #FFFFFF;
    border: solid 1px #666F77;
    border-radius: 6px;
    color: #666F77;
}

.user-info-wrapper .user-info .user-avatar input[type=file]:active+label {
    background-image: none;
    background-color: #2D6C7A;
    color: #FFFFFF;
}

/* profile upload button disabled end */

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.pagination {
    display: inline-block;
    display: flex;
    padding-left: 0;
    margin: 20px 0;
	border-radius: 4px;
    padding-top: 16px;
    list-style: none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

