<div id="chat_wrapper" ng-controller="CreateChat">
    <div id="chat_content_left">damn left</div>

    <div id="chat_content_right">
        <div id="chat_content_right_title">
            <div id="chat_content_right_title_left"><h3>Country: </h3></div>
            <div id="chat_content_right_title_right"><h3>Travel Period: </h3></div>
        </div>
        <div id="chat_content_right_chat"></div>
        <form id="chat_content_right_tpye_box" ng-submit="postMessage()">
           <div id="chat_box_wrapper"><input id="chat_box" type="text" name="fname" ng-model="words"></div>
            <button id="chat_box_send" type="submit" ng-disabled="postform.$invalid">Send</button>
        </form>
    </div>
</div>