<div class="card">
  <div class="card-img-top-wrapper" style="background-image: url({{productShowcaseCtrl.productImg}})">
      <!-- <img class="card-img-top" src="{{productShowcaseCtrl.productImg}}" alt="Card image"> -->
  </div>
  
  <div class="card-body">
    <h4 class="card-title">{{productShowcaseCtrl.productTitle}}</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a class="btn btn-secondary btn-sm" ui-sref='productdetails({a : "{{productShowcaseCtrl.productImg}}", b : "{{productShowcaseCtrl.productTitle}}"})'>View Details</a>
  </div>
</div>
