<div class="page-content">
  <div class="form-step">
    <div class="step item-details-indicator active activated">
      <div class="step-divider"></div>
      <div class="step-group">
        <div class="step-number">1</div>
        <div class="step-title">Travel Details</div>
      </div>
    </div>
    <div class="step shipment-indicator">
      <div class="step-divider"></div>
      <div class="step-group">
        <div class="step-number">2</div>
        <div class="step-title">Product</div>
      </div>
    </div>
    <div class="step payment-indicator">
      <div class="step-divider"></div>
      <div class="step-group">
        <div class="step-number">3</div>
        <div class="step-title">Review</div>
      </div>
    </div>
  </div>

  <div style="background-color: #FEF9E7; width: 100%; height: 300px; padding: 30px;">
    <div style="padding-left : 60px; padding-right: 60px; margin-left: 15px; margin-right: 15px;">
      <h4>Where are you going to travel</h4>
      <form id="input-progress" role="form" style="clear: left; padding-top: 30px;">
        <div style="float:left; width: 100% !important;">
          <div angucomplete-alt placeholder="Enter country you going to travel" maxlength="50" pause="100" selected-object="selectedCountry"
            local-data="countryList" search-fields="CountryName" title-field="CountryName" minlength="1" input-class="form-control form-control-small"
            match-class="highlight" style="width: 450px; float: left; margin-right: 3px;">
          </div>
          <div class="input-daterange" style="float: left;">
            <input id="datepickerFrom" type="text" name="start" class="form-control dateRangePicker" style="height: 44px; width: 200px; float: left; margin-right: 3px;"
              placeholder="Date From" />
            <input id="datepickerTo" type="text" name="end" class="form-control dateRangePicker" style="height: 44px; width: 200px; margin-right: 3px;"
              placeholder="Date To" />
          </div>
          <div style="width: 100%;">
            <button class="btn btn-secondary" ui-sref="postproduct" style="height: 65px; margin: 0px !important;">Continue</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- <div id="progress-inputs" class="progress" style="margin-top: 30px; margin-bottom: 30px; width: 40%;
    float: left;">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-vluemax="100"
      style="width:0%; height: 10px;">
    </div>
  </div> -->

  <!-- <svg height="100" width="100">
    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
  </svg> -->

  <!-- <div style="float: left; width: 100px; height: 80px; display: flex; align-items: center;">
    <div class="align-middle"><span><strong>Travel</strong></span></div>
  </div> -->
</div>