<!-- <div class="page-content">
    <ol class="ProgressBar">
        <li class="ProgressBar-step is-current">
            <svg class="ProgressBar-icon">
                <text id="text1" x="40" y="25" fill="white" style="font-size: 19px; display: none;">1</text>
                <text id="textStep1" x="15" y="25" fill="white" style="font-size: 19px;">Step 1</text>
                <use id="check1" xlink:href="#checkmark-bold" style=" display: none; fill: #fff" />
            </svg>
            <span class="ProgressBar-stepLabel">Travel</span>
        </li>
        <li class="ProgressBar-step">
            <svg class="ProgressBar-icon">
                <text id="text2" x="40" y="25" fill="white" style="font-size: 19px;">2</text>
                <text id="textStep2" x="15" y="25" fill="white" style="font-size: 19px; display: none;">Step 2</text>
                <use id="check2" xlink:href="#checkmark-bold" style=" display: none; fill: #fff" />
            </svg>
            <span class="ProgressBar-stepLabel">Product</span>
        </li> -->
        <!-- <li class="ProgressBar-step">
            <svg class="ProgressBar-icon">
                <text id="text3" x="40" y="25" fill="white" style="font-size: 19px;">3</text>
                <text id="textStep3" x="15" y="25" fill="white" style="font-size: 19px; display: none;">Step 3</text>
                <use id="check3" xlink:href="#checkmark-bold" style=" display: none; fill: #fff" />
            </svg>
            <span class="ProgressBar-stepLabel">Review</span>
        </li> -->
    <!-- </ol>

    <div class="form-background">
        <div>
            <form id="signup-form" novalidate>
                <div ui-view></div>
            </form>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="checkmark-bold" viewBox="0 0 24 24">
            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
        </symbol>
    </svg>
</div> -->