<div class="page-content">
  <div class="row bs-wizard" style="border-bottom:0; margin-bottom:60px;">
    <div class="col-xs-3 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">Travel</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">aaaaa</div>
    </div>

    <div class="col-xs-3 bs-wizard-step disabled">
      <div class="text-center bs-wizard-stepnum">Product</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">bbbbb</div>
    </div>

    <div class="col-xs-3 bs-wizard-step disabled">
      <div class="text-center bs-wizard-stepnum">Review</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">ccccc</div>
    </div>
  </div>

  <h3>Travel Information</h3>
  <div class="col-sm-4" style="margin-top: 20px;">
    <div id="foo" class="form-group">
      <label for="large-pill-input">Destination</label>
      <select class="js-example-basic-single" name="state" style="width: 300px;">
        <option data-ng-repeat="country in countryList" class="dropdown-item" href="#" value={{country.CountryCode}}>
          {{country.CountryName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="normal-pill-input">Travel Date From</label>
      <input class="form-control" type="date" id="date-input" value="2017-06-13">
    </div>
    <div class="form-group">
      <label for="normal-pill-input">Travel Date To</label>
      <input class="form-control" type="date" id="date-input" value="2017-06-13">
    </div>
  </div>
  <div style="text-align:right;">
    <button class="btn btn-secondary" ui-sref="postproduct">
      Continue
    </button>
  </div>
</div>