<div class="page-content">
  <h3>Travel Information</h3>

  <div class="row bs-wizard" style="border-bottom:0; margin-bottom:60px;">
    <div class="col-xs-3 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">Travel</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">aaaaa</div>
    </div>

    <div class="col-xs-3 bs-wizard-step disabled">
      <div class="text-center bs-wizard-stepnum">Product</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">bbbbb</div>
    </div>

    <div class="col-xs-3 bs-wizard-step disabled">
      <div class="text-center bs-wizard-stepnum">Review</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">ccccc</div>
    </div>
  </div>

  <!-- <div id="progress-inputs" class="progress" style="margin-top: 30px; margin-bottom: 30px; width: 40%;
    float: left;">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-vluemax="100"
      style="width:0%; height: 10px;">
    </div>
  </div> -->

  <!-- <svg height="100" width="100">
    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
  </svg> -->

  <!-- <div style="float: left; width: 100px; height: 80px; display: flex; align-items: center;">
    <div class="align-middle"><span><strong>Travel</strong></span></div>
  </div> -->

  <form id="input-progress" role="form" style="clear: left">
    <div style="width: 100% !important;">
      <div style="float:left; width:330px;">
        <label for="normal-pill-input">Destination</label>
      </div>
      <div style="float:left; width:250px;">
        <label for="normal-pill-input">Date From</label>
      </div>
      <div style="float:left; width:250px;">
        <label for="normal-pill-input">Date To</label>
      </div>
    </div>

    <div style="float:left; width: 100% !important;">
      <div style="float:left; width:330px;">
        <select class="js-example-basic-single" name="state" style="width: 300px; height: 40px !important; line-height: 35px !important;">
          <option data-ng-repeat="country in countryList" class="dropdown-item" href="#" value={{country.CountryCode}}>
            {{country.CountryName}}
          </option>
        </select>
      </div>

      <div style="float:left;">
        <div class="input-daterange">
          <input id="datepickerFrom" type="text" name="start" class="dateRangePicker" />
          <input id="datepickerTo" type="text" name="end" class="dateRangePicker" style="margin-left: 30px;" />
        </div>
      </div>
    </div>
  </form>

  <div style="width: 100%; text-align: right;">
    <button class="btn btn-secondary" ui-sref="postproduct">Continue</button>
  </div>
</div>