<div style="margin-top: 20px;">
    <div class="form-group" style="margin-bottom: 30px;">
        <h7>Product Name</h7>
        <input name="productName" class="form-control" type="text">
    </div>
    <div class="form-group" style="margin-bottom: 30px;">
        <h7>Product Categories</h7>
        <input name="productCategory" class="form-control" type="text">
    </div>
    <div class="form-group" style="margin-bottom: 30px;">
        <h7>Product Description</h7>
        <input name="productDescription" class="form-control" type="text">
    </div>
    <div class="form-group" style="margin-bottom: 30px;">
        <h7>Amount</h7>
        <input name="amount" class="form-control" type="text">
    </div>
</div>
<button class="btn btn-secondary" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check">Add More Product </button>
<button class="btn btn-secondary" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check">Save </button>
<div></div>

<h4>Added Products</h4>
<form class="dropzone" id="my-awesome-dropzone"></form>
<button class="btn btn-secondary" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check">
    Confirm
</button>