<!-- <div id="dropzone" style="width: 100%; height: 300px; border: 1px solid #000000;">
</div> -->
<!-- <form novalidate>
    <div style="margin-top: 20px;">
        <div id="dropzoneProductImage" class="dropzone"></div>

        <div class="form-group" style="margin-bottom: 30px;">
            <h7>Product Name</h7>
            <input name="productName" ng-model="product.productName" class="form-control" type="text">
        </div>
        <div class="form-group" style="margin-bottom: 30px;">
            <h7>Product Main Categories</h7>
            <select id="selectMainCategory" ng-model="product.productMainCategory" class="js-example-basic-single" name="productCategory" style="width: 100%;">
                <option ng-repeat="productCategory in productCategoryList" ng-value="productCategory"
                ng-selected="{{product.abc == productCategory}}">
                    {{productCategory.ProductCatDesc}}
                </option>
            </select>
        </div>
        <div class="form-group" style="margin-bottom: 30px;">
            <h7>Product Sub Categories</h7>
            <select id="selectSubCategory" ng-model="product.productSubCategory" class="js-example-basic-single" name="productSubCategory" style="width: 100%;">
                <option ng-repeat="productSubCategory in product.productMainCategory.t_product_subcats" ng-value="productSubCategory">
                    {{productSubCategory.ProductSubCatDesc}}
                </option>
            </select>
        </div>
        <div class="form-group" style="margin-bottom: 30px;">
            <h7>Product Description</h7>
            <input name="productDescription" ng-model="product.productDescription" class="form-control" type="text">
        </div>
        <div class="form-group" style="margin-bottom: 30px;">
            <h7>Amount</h7>
            <input name="productAmount" ng-model="product.productAmount" class="form-control" type="text">
        </div>
    </div>
    <button class="btn btn-secondary" type="submit" ng-click="addProductToList()">Add Into List</button>
</form>

<div class="div-product-list-table">
    <div class="div-product-list-table-header">Added Products</div>
    <table id="productListTable" class="table" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Main Category</th>
                <th scope="col">Product Sub Category</th>
                <th scope="col">Product Description</th>
                <th scope="col">Product Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="addedProduct in productObj.productList track by $index" ng-click="open(addedProduct)">
                <td style="padding: 5px; text-align: center; vertical-align: middle" ng-click="$event.stopPropagation()">
                    <button class="btn btn-danger btn-small" ng-click="removeFromList($index)">X</button>
                </td>
                <td>{{addedProduct.productName}}</td>
                <td>{{addedProduct.productMainCategory.ProductCatDesc}}</td>
                <td>{{addedProduct.productSubCategory.ProductSubCatDesc}}</td>
                <td>{{addedProduct.productDescription}}</td>
                <td>{{addedProduct.productAmount}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="display:inline-block ; width: 100%; text-align: right;">
    <button id="btnBack" class="btn btn-secondary btn-form" ng-click="back(productObj.count = productObj.count - 1)" ng-show="productObj.count > 1"
        ui-sref-active="active" style="margin: 0px !important;">
        Back
    </button> -->
    <!-- Before drop review page -->
    <!-- <button id="btnContinue" class="btn btn-secondary btn-form" ng-click="continue(productObj.count = productObj.count + 1)"
        style="margin: 0px !important;">
        <span ng-show="productObj.count <= 2">Continue</span>
        <span ng-show="productObj.count >= 3">Save</span>
    </button> -->
    <!-- After drop review page -->
    <!-- <button id="btnContinue" class="btn btn-secondary btn-form" ng-click="createPost()"
        style="margin: 0px !important;">
        <span>Post</span> -->
        <!-- <span ng-show="productObj.count >= 3">Save</span> -->
    <!-- </button>
</div>

<div class="modal fade" id="modal-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>why: {{selectedProduct.productAmount}}</p>
                <input type="text" ng-model="selectedProduct.productAmount" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->