<!-- <div>
    <div ng-repeat="product in productObj.productList">
        <h3>{{product.productName}}</h3>
        <p>{{product.productDescription}}</p>
        <p>{{product.productMainCategory.ProductCatDesc}}</p>
        <p>{{product.productMainCategory.ProductCatID}}</p>
        <p>{{product.productSubCategory.ProductSubCatDesc}}</p>
        <p>{{product.productSubCategory.ProductSubCatID}}</p>
    </div>
</div>
<button ng-click="createPost()">Create Post</button>
<div style="display:inline-block ; width: 100%; text-align: right;">
    <button id="btnBack" class="btn btn-secondary btn-form" ng-click="back(productObj.count = productObj.count - 1)" ng-show="productObj.count > 1" ui-sref-active="active"
        style="margin: 0px !important;">
        Back
    </button>

    <button id="btnContinue" class="btn btn-secondary btn-form" ng-click="continue(productObj.count = productObj.count + 1)" style="margin: 0px !important;">
        <span ng-show="productObj.count <= 2">Continue</span>
        <span ng-show="productObj.count >= 3">Save</span>
    </button>
</div> -->