<script src="//code.angularjs.org/1.6.10/angular.min.js"></script>
<!-- <h4 ng-if="buyer == false">Where are you going to travel</h4>
<h4 ng-if="buyer == true">Where are you going to buy</h4>
<div style="width: 100% !important; margin-top: 15px;" name="myForm" ng-form>
    <div angucomplete-alt id="autocomplete" maxlength="50" placeholder="Enter country" pause="100" selected-object="selectedCountry"
        local-data="travelObject.countryList" search-fields="CountryName" title-field="CountryName" minlength="1" input-class="form-control form-control-small"
        initial-value="travelObject.initCountry" match-class="highlight" field-required="true" style="width: 450px; float: left; margin-right: 3px;" input-name="countryList" 
        required>
    </div>
    <div class="input-daterange" style="float: left;" ng-show="buyer == false">
        <input id="datepickerFrom" type="text" name="startDate" class="form-control dateRangePicker" placeholder="Date From" ng-model="productObj.startDate"
            required>
        <input id="datepickerTo" type="text" name="toDate" class="form-control dateRangePicker" placeholder="Date To" ng-model="productObj.toDate"
            required>
    </div>
</div> -->
<!-- <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="response == false">
    Invalid username or password.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<!-- <div ng-show="myForm.$submitted || myForm.startDate.$touched">
    <div role="alert">
        <span class="error" ng-show="myForm.startDate.$error.required">
            Start date Required!</span>
    </div>
</div> -->
<!-- <div style="display:inline-block ; width: 100%; text-align: right;">
    <button id="btnBack" class="btn btn-secondary btn-form" ng-click="back(productObj.count = productObj.count - 1)" ng-show="productObj.count > 1 && response == true"
        ui-sref-active="active" style="margin: 0px !important;">
        Back
    </button>

    <button id="btnContinue" class="btn btn-secondary btn-form" ng-click="continue()"
        style="margin: 0px !important;">
        <span ng-show="productObj.count <= 2">Continue</span>
        <span ng-show="productObj.count >= 3">Save</span>
    </button>
</div> -->

<!-- <div id="progress-inputs" class="progress" style="margin-top: 30px; margin-bottom: 30px; width: 40%;
    float: left;">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-vluemax="100"
      style="width:0%; height: 10px;">
    </div>
  </div> -->

<!-- <svg height="100" width="100">
    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
  </svg> -->

<!-- <div style="float: left; width: 100px; height: 80px; display: flex; align-items: center;">
    <div class="align-middle"><span><strong>Travel</strong></span></div>
  </div> -->