.form-control-small {
    border: none !important;
    border-radius: 3px;
    height: 65px !important;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    -ms-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
    width: 72%;
}

.highlight {
	color: #0DA99F;
}

.form-step{
    text-align: center;
    margin: 30px 0 50px
}

.step{
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.form-step .step{
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.step:first-child .step-divider{
    display: none;
}

.activated .step-divider, .activated .step-number{
    background: #0DA99F;
}

.step-divider{
    height: 4px;
    width: 70px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 0;
    vertical-align: middle;
}

.step-group{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
}

.step-divider, .step-number{
    background: #D1F2EB;
}

.active .step-number:before{
    content: "Step";
    display: inline-block;
    margin-right: 3px;
}

.active .step-number{
    width: auto;
    padding: 0 30px;
}

.step-number{
    border-radius: 5%;
    margin: auto;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.step.activated .step-title{
    color: #000
}

.step.active .step-title{
    right: auto;
}

::placeholder{
    color: #b6b6b6 !important;
}