/*.col-md-6{
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.product-gallery{
	position: relative;
	padding-top: 74px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	border: 1px solid #e1e7ec;
	border-radius: 7px;
}

.product-gallery, .gallery-item{
	position: absolute;
	top: 15px;
	right: 15px;
	margin-bottom: 0;
}

.product-gallery, .gallery-item>a{
    display: none;
    width: 44px;
    height: 44px;
    transition: background-color .3s;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    text-decoration: none;
}

.product-gallery, .gallery-item.active>a{
	display: block;
}

.product-gallery, .gallery-item>a::before{
	display: none !important;
}

.gallery-item>a{
	display: block;
	position: relative;
	width: 100%;
	border-radius: 7px;
	overflow: hidden;
}

.gallery-item>a::before{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	opacity: 0;
	z-index: 1;
	transition: opacity .3s;
}

.product-gallery .gallery-item>a::after{
	position: static;
	top: 0;
	margin-top: 0;
	margin-left: 1px;
	transform: none;
	transition: none;
	color: #606975;
	font-size: 22px;
	line-height: 40px;
	content: '\e037';
	opacity: 1;
}

a{
	color: #0da9ef;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.gallery-item>a::after{
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -19px;
	transform: translateY(15px);
	transition: all .35s;
	color: #fff;
	font-family: feather;
	font-size: 26px;
	text-align: center;
	content: '\e036';
	opacity: 0;
	z-index: 5;
}

.owl-carousel.owl-loaded{
	display: block;
}

.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	z-index: 1;
	-webkit-text-fill-color: transparent;
}

.owl-carousel, .owl-stage-outer{
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	overflow: hidden;
}

.owl-carousel .owl-stage{
	position: relative;
	-ms-touch-action: pan-Y;
	-moz-backface-visibility: hidden;
}

div.owl-stage{
	transform: translate3d(0px, 0px, 0px);
	transition: 0s;
	width: 2615px;
}

.owl-carousel .owl-stage::after{
	display: block;
	height: 0;
	clear: both;
	line-height: 0;
	content: '.';
	visibility: hidden;
}

div.owl-item.active{
	width: 523px;
}

.owl-carousel.owl-drag .owl-item{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owl-carousel .owl-item{
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-text-fill-color: transparent;
	-webkit-table-layout: none;
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

img, figure{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

img{
	vertical-align: middle;
	border-style: none;
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled{
	display: none;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot{
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owl-carousel .owl-prev{
	left: 20px;
}

.owl-carousel .owl-prev::before{
	content: '\e094';
}

.owl-carousel .owl-prev, .owl-carousel .owl-next{
	display: block;
	position: absolute;
	top: 50%;
	width: 44px;
	height: 44px;
	margin-top: -42px;
	transition: opacity .3s;
	border: 1px solid #e1e7ec;
	border-radius: 50%;
	background-color: #fff;
	color: #374250;
	line-height: 40px;
	text-align: center;
	opacity: .7;
}

.owl-carousel .owl-prev::before, .owl-carousel .owl-next::before{
	font-family: feather;
	font-size: 19px;
	content: '\f115';
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot{
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owl-carousel .owl-next{
	right: 20px;
}

.owl-carousel .owl-next::before{
	content: '\e095';
}

.owl-carousel .owl-prev, .owl-carousel .owl-next{
	display: block;
	position: absolute;
	top: 50%;
	width: 44px;
	height: 44px;
	margin-top: -42px;
	transition: opacity .3s;
	border: 1px solid #e1e7ec;
	border-radius: 50%;
	background-color: #fff;
	color: #374250;
	line-height: 40px;
	text-align: center;
	opacity: .7;
}

.owl-carousel .owl-prev::before, .owl-carousel .owl-next::before{
	font-family: feather;
	font-size: 19px;
	content: '\f115';
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled{
	display: none;
}

.owl-carousel .owl-dots{
	display: block;
	width: 100%;
	margin-top: 18px;
	text-align: center;
}

.product-gallery, .product-thumbnails{
	display: block;
	margin: 0;
	margin-top: 24px;
	padding: 0;
	list-style: none;
	text-align: center;
}

ul, ol{
	margin-top: 0;
	margin-bottom: 16px;
	padding-left: 18px;
	line-height: 1.8;
}

ol, ul, dl{
	margin-top: 0;
	margin-bottom: 1rem;
}

ul, dir{
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.product-gallery, .product-thumbnails>li{
	display: inline-block;
	margin: 0 3px 10px;
}

.product-gallery, .product-thumbnails>li.active>a{
	border-color: #0da9ef;
	cursor: default;
}

.product-gallery, .product-thumbnails>li>a{
	display: block;
	width: 94px;
	transition: border-color .25s;
	border: 1px solid #e1e7ec;
	border-radius: 5px;
	overflow: hidden;
}

a{
	color: #0da9ef;
	text-decoration: underline;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

img, figure{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

*::before, *::after{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

*, *::before, *::after{
	box-sizing: inherit;
}

::selection{
	background: #374250;
	color: #fff;
}

html *{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*{
	box-sizing: border-box
}

.padding-top-3x{
	padding-top: 72px !important;
}

.mb-3{
	margin-bottom: 1rem !important;
}

.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-lg-10{
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

html *{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html{
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.15;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

body{
	background-position: center;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	color: #606975;
	font-family: "Maven Pro", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
	line-height: 1.5;
}

li{
	display: list-item;
	text-align: -webkit-match-parent;
}

div{
	display: block;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        max-width: 1170px
    }
}

@media (max-width: 1200px) {
    .container {
        width: 100% !important;
        max-width: 100% !important
    }
}

.tab-content {
    padding: 24px;
    border-right: 1px solid #e1e7ec;
    border-bottom: 1px solid #e1e7ec;
    border-left: 1px solid #e1e7ec;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    color: #374250;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    text-transform: none
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small,
.h3 small, .h4 small, .h5 small, .h6 small {
    display: block;
    padding-top: 3px;
    color: #9da9b9
}

h1, .h1 {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1.15
}

@media (max-width: 768px) {
    h1, .h1 {
        font-size: 31px
    }
}

h2, .h2 {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.2
}

@media (max-width: 768px) {
    h2, .h2 {
        font-size: 28px
    }
}

.facebook-btn, .twitter-btn, .google-btn {
    text-transform: none
}

.facebook-btn > i, .twitter-btn > i, .google-btn > i {
    margin-top: 0
}

.facebook-btn {
    border-color: #3b5998;
    background-color: transparent;
    color: #3b5998
}

.facebook-btn:hover {
    background-color: #3b5998;
    color: #fff
}

.twitter-btn {
    border-color: #55acee;
    background-color: transparent;
    color: #55acee
}

.twitter-btn:hover {
    background-color: #55acee;
    color: #fff
}

.google-btn {
    border-color: #dd4b39;
    background-color: transparent;
    color: #dd4b39
}

.google-btn > i {
    font-size: 1.3em
}

.google-btn:hover {
    background-color: #dd4b39;
    color: #fff
}

.social-button {
    display: inline-block;
    margin-top: 5px;
    margin-right: 18px;
    margin-bottom: 5px;
    transition: color .3s;
    color: #606975;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle
}

.social-button.shape-circle, .social-button.shape-rounded, .social-button.shape-square {
    width: 36px;
    height: 36px;
    margin-right: 8px;
    border: 1px solid #e1e7ec;
    line-height: 35px;
    text-align: center
}

.social-button.shape-circle {
    border-radius: 50%
}

.social-button.shape-rounded {
    border-radius: 5px
}

.social-button:focus {
    text-decoration: none
}

.text-center .social-button {
    margin-right: 9px;
    margin-left: 9px
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        max-width: 1170px
    }
}

@media (max-width: 1200px) {
    .container {
        width: 100% !important;
        max-width: 100% !important
    }
}

.tab-content {
    padding: 24px;
    border-right: 1px solid #e1e7ec;
    border-bottom: 1px solid #e1e7ec;
    border-left: 1px solid #e1e7ec;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden
}
*/
