.padding-top-3x{
	padding-top: 72px !important;
}

.social-button {
    display: inline-block;
    margin-top: 5px;
    margin-right: 18px;
    margin-bottom: 5px;
    transition: color .3s;
    color: #606975;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle;
}

.social-button.shape-circle, .social-button.shape-rounded, .social-button.shape-square {
    width: 36px;
    height: 36px;
    margin-right: 8px;
    border: 1px solid #e1e7ec;
    line-height: 35px;
    text-align: center;
}

.social-button.shape-circle {
    border-radius: 50%;
}

.social-button.shape-rounded {
    border-radius: 5px;
}

.social-button:focus {
    text-decoration: none;
}

.text-center .social-button {
    margin-right: 9px;
    margin-left: 9px;
}

.tab-content {
    padding: 24px;
    border-right: 1px solid #e1e7ec;
    border-bottom: 1px solid #e1e7ec;
    border-left: 1px solid #e1e7ec;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
}

.sb-facebook:hover, .sb-facebook:focus{
    color: #3b5998 !important;
}
