<div class="content">
    <div class="checkout-steps" style="width: 700px; margin: 0 auto; padding: 50px 0px;">
        <a class="progress-steps" href="#">3. Review</a>
        <a class="progress-steps" href="#">
            <!-- <span class="step-indicator icon-circle-check"></span> -->
            <span class="angle"></span>
            2. Post Product
        </a>
        <a class="progress-steps active" href="#">
            <span class="angle"></span>
            1. Post Travel
        </a>
    </div>

    <div class="d-flex justify-content-center">
        <select class="form-control w-25" id="select-input">
            <option>Choose country...</option>
            <option>Malaysia</option>
            <option>Singapore</option>
            <option>Japan</option>
        </select>

        <input class="form-control w-25" type="datetime-local" id="date-time-input-from" style="margin-left: 10px;" placeholder="Date From">

        <input class="form-control w-25" type="datetime-local" id="date-time-input-to" style="margin-left: 10px;" placeholder="Date To">

    </div>

    <div style="text-align: right;">
        <a class="btn btn-primary" href="postproudct">Next</a>
    </div>
</div>