<div class="content">
        <div class="checkout-steps" style="width: 700px; margin: 0 auto; padding: 50px 0px;">
            <a class="progress-steps active" href="#">3. Review</a>
            <a class="progress-steps" href="#">
                <!-- <span class="step-indicator icon-circle-check"></span> -->
                <span class="angle"></span>
                2. Post Product
            </a>
            <a class="progress-steps" href="#">
                <span class="angle"></span>
                1. Post Travel
            </a>
        </div>

        <div class="d-flex justify-content-center">
        <div class="col-lg-9 col-md-8 order-md-2">
            <h6 class="text-muted text-normal text-uppercase margin-top-2x">Review</h6>
            <br/>
        </div>
        </div>
        
        <div class="d-flex justify-content-center">
            <select class="form-control w-25" id="select-input">
                <option>Choose country...</option>
                <option>Malaysia</option>
                <option>Singapore</option>
                <option>Japan</option>
            </select>
    
            <input class="form-control w-25" type="datetime-local" id="date-time-input-from" style="margin-left: 10px;" placeholder="Date From">
    
            <input class="form-control w-25" type="datetime-local" id="date-time-input-to" style="margin-left: 10px;" placeholder="Date To">

            
        </div>
    
        <div class="d-flex justify-content-center">
        <div class="col-lg-9 col-md-8 order-md-2">
        <br/><br/>
            <div class="table-responsive">
                <table class="table">
                <thead>
                    <tr>
                    <th>Product</th>
                    <th>Product Name</th>
                    <th>Product Cat.</th>
                    <th>Product Sub Cat.</th>
                    <th>Quantity</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Nike T-Shirt</td>
                    <td>Men's Fashion</td>
                    <td>Cloths</td>
                    <td>2</td>
                    <td>MYR</td>
                    <td>65</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>iPhone X 64GB</td>
                    <td>Digital & Mobile</td>
                    <td>Smartphone</td>
                    <td>1</td>
                    <td>MYR</td>
                    <td>4800</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        </div>

        <div style="text-align: right;">
            <a class="btn btn-primary" href="postproudct">Back</a>
            <a class="btn btn-primary" href="#">Confirm</a>
        </div>
    </div>